body{
    margin:auto;
    background-color:rgb(67, 192, 192);
}
.flex-container{
    display:flex;
    flex-direction: row;
    background-color:lightgreen;
    margin-top:20%;
    height:300px;
}
.flex-container>div{
    width:230px;
    height:150px;
    background-color:darkgreen;
    margin:10px;
    margin-top:3%;
    padding:5px;
    box-shadow: 10px 15px 20px green;
}
.flex-container div img{
    width:230px;
    height:150px;
}
.flex-container div:hover{
transform:scale(1.1);
background-color: antiquewhite;
}


#main{
    width:100%;
    height:400px;
    background-image: url('image/drinks.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-size: 100% 400px;
   color:white;
}
.fbimage{
    float: right;
}
.fbimage img{
    height:100px;
    width:100px;
}
/*background-position:right top/left top/left bottom*/
#QuickSearch{
    height:300px;
    width:80%;
    margin-left:5%;
}
.heading{
    font-size:25px;
    margin-left:4%;
   /* color:#700003;*/
}
.mainblock{
    height:100%;
    width:90%;
    margin-left:4%;
}
.tilecomponent{
    width:250px;
    height:250px;
    margin-left:5%;
    
    display:inline-block;
    box-shadow: 10px 15px 20px green;
}
.tilecomponent1{
    height:250px;
    width:60%;
    display:inline-block;
}
.tilecomponent2{
    height:250px;
    width:35%;
    display:inline-block;
}
.tilecomponent1>img{
    height:250px;
    width:100%;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    height:100%;
    width: 100%;
    background-color:#700003;
    background-size:cover;
    background-size: 100% 300px;
    margin-top:2px;
}
.grid-container:hover{
    background-color:aqua;
}
.grid-item{
    width:300px;
    height:200px;
    background-color:rgb(211, 160, 160);
    margin:10%;
    font-size:50px;
    text-align:center;
}
.heading + p{
color:#7616ad;
font-style: italic;
}

#logo{
    width:200px;
    height:200px;
    border-radius:50%;
    background-color:#700003;
    margin-left:8%;
    animation:movelogo 5s infinite;
}
@keyframes movelogo{
    0%{margin-left:20%}
    20%{margin-top:10%}
    40%{margin-left:30%}
    60%{margin-top:10%}
    100%{margin-left:20%}
}
#logo>span{
    position:absolute;
    margin-top:6%;
    margin-left:2%;
    font-size:35px;
}

#coupon{
    width:200px;
    height:200px;
    background-color:red;
}